_*.pyc
*~
__pycache__
myvenv
db.sqlite3
.DS_Store
secrets.json
gunicorn.conf.py
nginx.conf
pi@210.123.100.153
runcrawler.py
for_debug
info_matrix.txt
temp2.txt
renew_summary.py
content_base.txt
vctr.txt
dtm.txt